@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: "Poppins", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Spartan", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --nav_bg: #e3e6f3;
  --nav_color: #1a1a1a;
  --nav_color2: #088178;
  --h_color: #222;
  --p_color: #465b52;
  --p_color_2: #818ea0;
  --border_color: #cce7d0;
  --box_bg_1: #fddde4;
  --box_bg_2: #cdebbc;
  --box_bg_3: #d1e8f2;
  --box_bg_4: #cdd4f8;
  --box_bg_5: #f6dbf6;
  --box_bg_6: #fff2e5;
  --brand_name_color: #606063;
  --star-color: #f3b519;
  --product_cart_color: #e8f6ea;
  --Off_color: #ef3636;
  --transparent_color: transparent;
  --red1: #ec544e;
  --newsletter_bg: #041e42;
  --brown_color: #a52a2a;
  --red2: #ff0000;
  --span_color: #ffbd27;
  --blog_heading_color: #c9cbce;
  --gray: #cccccc;
  --form-border-color: #e1e1e1;
  --cart-table-border: #e2e9e1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--nav_bg);
}

::-webkit-scrollbar-thumb {
  background: var(--nav_color2);
  border-radius: 10px;
}

section {
  width: 100%;
}

.container {
  width: 1200px;
  margin: auto;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--h_color);
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: var(--h_color);
}

h4 {
  font-size: 20px;
  color: var(--h_color);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: var(--p_color);
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: var(--black);
  background-color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.normal_2 {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 30px;
  color: var(--white);
  background-color: var(--transparent_color);
  cursor: pointer;
  border: 1px solid var(--white);
  outline: none;
  transition: 0.2s;
}

a {
  text-decoration: none;
}

/* Responsive */

@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  .container {
    width: 100%;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  h2 {
    font-size: 32px;
  }

  h1 {
    font-size: 38px;
  }
}