/* Single Product Page Styles */

#prodetails .single-pro-image{
width: 40%;
margin-right: 50px;
}

#prodetails .single-pro-image img{
width: 100%;
}

.small-img-group{
display: flex;
justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.small-img-col img{
    width: 100%;
}