@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: "Poppins", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Spartan", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

:root {
  --nav_bg: #e3e6f3;
  --nav_color: #1a1a1a;
  --nav_color2: #088178;
  --h_color: #222;
  --p_color: #465b52;
  --border_color: #cce7d0;
  --box_bg_1: #fddde4;
  --box_bg_2: #cdebbc;
  --box_bg_3: #d1e8f2;
  --box_bg_4: #cdd4f8;
  --box_bg_5: #f6dbf6;
  --box_bg_6: #fff2e5;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--h_color);
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: var(--h_color);
}

h4 {
  font-size: 20px;
  color: var(--h_color);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: var(--p_color);
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  padding: 40px 0;
}

/* Nav Start */

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--nav_bg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 140px;
  height: 40px;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  text-transform: capitalize;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--nav_color);
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--nav_color2);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--nav_color2);
  position: absolute;
  bottom: -2px;
  left: 21px;
}

/* Hero Section */

#hero {
  background-image: url("../img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
}

#hero .container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* padding: 0 80px; */
  /*Use this padding for responsive section*/
}

.hero-text h4 {
  padding-bottom: 15px;
}

.hero-text h1 {
  color: var(--nav_color2);
}

.hero-text button {
  background-image: url("../img/button.png");
  background-color: transparent;
  color: var(--nav_color2);
  border: none;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

/* Feature Section */

#feature .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--border_color);
  border-radius: 4px;
  margin: 15px 0px;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: var(--nav_color2);
  background: var(--box_bg_1);
}

#feature .fe-box:nth-child(2) h6 {
  background: var(--box_bg_2);
}

#feature .fe-box:nth-child(3) h6 {
  background: var(--box_bg_3);
}

#feature .fe-box:nth-child(4) h6 {
  background: var(--box_bg_4);
}

#feature .fe-box:nth-child(5) h6 {
  background: var(--box_bg_5);
}

#feature .fe-box:last-child h6 {
  background: var(--box_bg_6);
}